@{
    ViewData["Title"] = "Home Page";
}

<h2>EF Core Relationship Examples</h2>
<ul>
    <li>
        <a asp-controller="FoodItems" asp-action="Index">Food Item - No Relationship Example</a>
    </li>
</ul>