@{
    ViewData["Title"] = "Home Page";
}

<h2>EF Core Relationship Examples</h2>

<h3>Single Entity : No Relationships</h3>
<ul>
    <li>
        <a asp-controller="FoodItems" asp-action="Index">Food Item</a>
    </li>
    <li>
        <a asp-controller="Courses" asp-action="Index">Course</a>
    </li>
    <li>
		<a asp-controller="Students" asp-action="Index">Student</a>
    </li>
</ul>

<h3>Many-to-many Relationship</h3>
<ul>
    <li>
        <a asp-controller="Students" asp-action="Index">Edit a student to see their course enrollment</a>
	</li>
</ul>